body {
    margin: 0;
}

a:hover {
    background-color: #6c7eda;
    transition-duration: 3s;
    border-radius: 50px;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
}

.heading {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.logo {
    width: 100px;
}

.nav {
    color: #d79a00;
    text-decoration: none;
    font-size: 22px;
    margin-top: 20px;
    font-family: 'Source Code Pro', monospace;
}

h1 {
    font-family: 'Source Code Pro', monospace; 
    color: #ffffff;
}

h2 {
    font-family: 'Source Code Pro', monospace; 
    color: #ffffff;
}

p {
    font-family: 'Source Code Pro', monospace; 
    color: #ffffff;
    margin-top: 20px;
}

.sheep-img {
    border-radius: 50px;
}

button {
    background-color: rgba(180, 181, 86, 1);
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    color: #ffffff;
    border-radius: 30px;
    padding: 10px 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.wrapper-one {
    background: linear-gradient(#0c1d4c, #231a53, #6c7eda);
}

.wrapper-two {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrapper-three {
    background: linear-gradient(#6c7eda, #536187, #b0add4);
}

.item {
    color: black;
    font-size: 22px;
    font-family: 'Source Code Pro', monospace;
}

.self-care {
    color: rgb(239, 181, 210);
}

.about-us {
    font-family: 'Source Code Pro', monospace;
    color: white;
    font-size: 18px;
}

.container-moon {
    position: relative;
}

.moon-button {
    position: absolute;
    left: 600px;
    bottom: 100px;
}

.style-footer {
    color: black;
    font-size: 13px;
}

.stars img {
    width: 50px;
    animation: star 7s linear infinite;
    opacity: 0.2;
}

.stars {
    display: flex;
    justify-content: space-around;
}

@keyframes star {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.stars img:nth-child(1) {
    animation-delay: 1s;
    width: 20px;
}

.stars img:nth-child(2) {
    animation-delay: 2s;
    width: 15px;
}

.stars img:nth-child(3) {
    animation-delay: 5s;
    width: 10px;
}

.stars img:nth-child(4) {
    animation-delay: 2s;
    width: 15px;
}

.stars img:nth-child(5) {
    animation-delay: 1s;
    width: 20px;
}

.stars img:nth-child(6) {
    animation-delay: 2.5s;
    width: 25px;
}

.stars img:nth-child(7) {
    animation-delay: 3s;
    width: 20px;
}


@media (max-width: 500px) {

    .wrapper-one {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding-left: 45%;
        padding-right: 45%;
    }

    .nav {
        padding: 30px;
    }

    .btn {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .stars {
        width: 100%;
    }


    .wrapper-two {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 180px;
    }

    .wrapper-three {
        display: block;
        justify-content: center;
        padding-left: 45%;
        padding-right: 45%;
        
    }

    .self-care-img {
        width: 600px;
    }

    .container-moon {
        display: flex;
        width: 190%;
    }

    .moon-button {
        display: block;
        right: 50px;
        left: 50px;
    }
}

@media (max-width: 800px) {

    .wrapper-one {
        width: 100%;
    }

    .wrapper-two {
        width: 100%;
        flex-wrap: wrap;
    }

    .wrapper-three {
        width: 100%;
        justify-content: center;
    }

    .self-care-img {
        width: 700px;
    }

}



